*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-family: $primary-font;
  font-size: 14px;
  line-height: 100%;
  color: $base-text-color;
}

img {
  object-fit: contain;
  height: auto;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

dl,
dt,
dd {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
}

@media (min-width: $width-tablet) {
  .container {
    padding: 0 30px;

    &--form {
      padding: 0 70px;
    }
  }
}

@media (min-width: $width-desktop) {
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 110px;
  }
}
