@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin base-text {
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $base-text-color;
}

@mixin big-title {
  margin: 0;
  font-family: $secondary-font;
  color: $dark-text-color;
  font-size: $h2-font-size;
  line-height: $h2-line-height;
  font-weight: 400;
}

@mixin small-title {
  margin: 0;
  font-family: $secondary-font;
  color: $h3-text-color;
  font-size: $h3-font-size;
  line-height: $h3-line-height;
  text-transform: uppercase;
  font-weight: 400;
}

@mixin text-form {
  font-family: $secondary-font;
  font-size: $form-font-size;
  line-height: $form-line-height;
  text-transform: uppercase;
}

@mixin lined-title {
  margin: 0;
  font-size: $lined-title-font-size;
  line-height: $lined-title-line-height;
  color: $dark-text-color;

  ::after {
    content: "";
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: $primary-color;
    z-index: -1;
  }
}
