@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin fieldset-reset {
  margin: 0;
  padding: 0;
  border: none;
}

@mixin base-text {
  font-family: $primary-font;
  font-size: 14px;
  line-height: 18px;
  color: $base-text-color;

  @media (min-width: $width-tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

@mixin general-title {
  margin: 0;
  font-family: $secondary-font;
  color: $dark-text-color;
  font-size: 36px;
  line-height: 100%;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    font-size: 60px;
  }
}

@mixin card-title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 24px;
  }
}

@mixin block-title {
  margin: 0;
  font-family: $secondary-font;
  color: $dark-text-color;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

@mixin text-form {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $base-text-color;

  @media (min-width: $width-tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

@mixin lined-title {
  margin: 0;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $dark-text-color;

  background-color: $body-color;
  position: absolute;
  left: 0;
  z-index: 2;

  padding: 0 20px;

  @media (min-width: $width-tablet) {
    font-size: 36px;
    line-height: 36px;

    padding: 0 40px;
    left: 30px;
  }

  @media (min-width: $width-desktop) {
    left: 70px;
  }
}

@mixin block-line {
  content: "";
  background-color: $primary-color;
  width: 100vw;
  height: 2px;

  position: absolute;
  top: 0;
  z-index: 2;
}
