.about-product__wrapper {
  margin-bottom: 49px;
}

.about-product__title {
  @include block-title;
  margin-bottom: 40px;
}

.about-product__list {
  @include list-reset;

  display: flex;
  flex-direction: column;
  gap: 26px;
}

.about-product__item {
  @include base-text;

  &::before {
    content: "";
    width: 60px;
    height: 60px;
    background-color: $primary-color;
    float: left;
    margin-right: 20px;
  }
}

@media (min-width: $width-tablet) {
  .about-product__title {
    margin-bottom: 32px;
  }

  .about-product__list {
    counter-reset: num;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 250px));
    grid-column-gap: 137px;
    grid-row-gap: 37px;
  }

  .about-product__item span {
    display: block;
    margin-top: -2px;
  }

  .about-product__item {
    padding: 40px 0 57px 0;
    position: relative;

    &:first-of-type {
      width: 224px;
    }

    &::before {
      content: "";
      width: 80px;
      height: 80px;

      margin-right: 150px;
      margin-bottom: 30px;
    }

    &::after {
      content: counter(num);
      counter-increment: num;
      font-family: $secondary-font;
      font-size: 280px;
      color: $secondary-color;

      position: absolute;
      top: 128px;
      right: 0;
      z-index: -1;
    }
  }
}

@media (min-width: $width-desktop) {
  .about-product__wrapper {
    margin-bottom: 70px;
  }

  .about-product__list {
    grid-column-gap: 73px;
  }
}
