.bordered-data__value {
  border: $border;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: $dark-text-color;
  text-transform: uppercase;

  width: 124px;
  padding: 15px 0 18px 0;
  margin: 0;
  text-align: center;

  @media (min-width: $width-tablet) {
    font-size: 30px;
    line-height: 37px;

    width: 162px;
    padding: 15px 0 20px 0;
  }
}

.bordered-data__info {
  font-family: $primary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $base-text-color;

  background-color: #eaeaea;

  display: block;
  margin: 0 auto;
  margin-top: -10px;
  padding: 0 10px;
  max-width: 77px;

  @media (min-width: $width-tablet) {
    font-size: 14px;
    line-height: 14px;

    background-color: $body-color;
    padding: 0 10px;
    max-width: 145px;
  }

  @media (min-width: $width-desktop) {
    background-color: #eaeaea;
  }
}
