.button {

  font-family: $secondary-font;


  font-size: 14px;
  line-height: 18px;
  background-color: $primary-color;

  padding: 7px 44px;
  text-align: center;
  text-transform: uppercase;

  color: $light-text-color;

  border: none;

  display: inline-block;

  &--secondary {
    background-color: $secondary-color;
    color: inherit;
    line-height: 18px;
  }
}

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 26px;
  }
}
