.button {
  background-color: $primary-color;
  font-family: $secondary-font;
  font-size: $primary-font-size;
  line-height: $primary-line-height;
  color: $light-text-color;
  text-transform: uppercase;
  text-align: center;
  border: none;

  &--secondary {
    background-color: $secondary-color;
    color: inherit;
  }
}
