.card-upsale {
  border-bottom: $border;
  padding: 10px 0 19px 0;

  &:first-child {
    border-top: $border;
  }
}

.card-upsale__title {
  @include card-title;
}

.card-upsale__information {
  display: flex;
  justify-content: space-between;

  margin-top: 12px;
  margin-bottom: 14px;
}

.card-upsale__information-info {
  max-width: 200px;
}

.card-upsale__information-value {
  margin: 0;
  max-width: 45px;
}

.card-upsale__button {
  font-size: 16px;
  padding: 11px;
  width: 100%;
}

@media (min-width: $width-tablet) {
  .card-upsale {
    padding: 25px 38px 28px;
    border: $border;
    border-bottom: none;

    &:last-child {
      border-bottom: $border;
    }
  }

  .card-upsale__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }

  .card-upsale__title {
    max-width: 300px;
  }

  .card-upsale__information {
    margin: 0;
    font-size: 16px;
    gap: 50px;
  }

  .card-upsale__information-info {
    max-width: 200px;
  }

  .card-upsale__information-value {
    max-width: 50px;
  }
}

@media (min-width: $width-desktop) {
  .card-upsale {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;

    width: 895px;
    padding: 15px 0;
    border-left: none;
    border-right: none;
  }

  .card-upsale__wrapper {
    display: grid;
    grid-template-columns: 290px 215px 45px;
    align-items: center;
    gap: 35px;

    margin-bottom: 0;
  }

  .card-upsale__information {
    font-size: 16px;
    line-height: 20px;
    display: grid;
    grid-template-columns: 215px 50px;
    gap: 35px;
  }
}
