.catalog__wrapper {
  padding-top: 27px;
  border-top: 1px solid #e6e6e6;

  margin-bottom: 25px;
}

.catalog__title {
  @include general-title;
  margin-bottom: 40px;
}

.catalog__list {
  @include list-reset;
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: $width-tablet) {
  .catalog__wrapper {
    padding-top: 37px;
    margin-bottom: 70px;
    border: none;
  }

  .catalog__title {
    margin-bottom: 85px;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr;
    gap: 60px;
  }

  .card__image--big img {
    width: 168px;
    height: 206px;
  }
}

@media (min-width: $width-desktop) {
  .catalog__wrapper {
    padding-top: 20px;
    margin-bottom: 85px;
  }

  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 63px;
  }
}

@media (min-width: $width-desktop) {
  .catalog__wrapper {
    padding-top: 15px;
    margin-bottom: 75px;
  }
}
