.catalog {
  margin: 0 auto;
  width: 280px;
}

.catalog__title {
  @include title;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 41px;
}

.catalog__list {
  @include list-reset;
  display: grid;
  gap: 25px;
  margin-bottom: 25px;
}
