.contacts {
  &--dark-background {
    background-color: $secondary-color;
  }
}

.contacts__wrapper {
  display: flex;
  padding: 26px 20px;
}

.contacts__adress {
  font-size: $primary-font-size;
  line-height: $h3-line-height;
}
