.copyright {
  margin: 0 auto;
  width: 280px;
}

.copyright__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-size: 16px;
  line-height: 20px;
}
