.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__text {
  font-family: $primary-font;
  font-size: 16px;
  line-height: 20px;
  color: $base-text-color;
}

.copyright__logo:hover path {
  fill: $primary-color;
}

.copyright__text:active {
  opacity: 0.6;
}

.copyright__logo:active {
  opacity: 0.6;
}

@media (min-width: $width-tablet) {
  .copyright {
    gap: 23px;
  }

  .copyright:hover path {
    fill: $primary-color;
  }

  .copyright:active path {
    opacity: 0.6;
  }

  .copyright__text:focus + .copyright__logo path {
    fill: $primary-color;
  }

  .copyright__logo:focus path {
    fill: $primary-color;
  }
}
