.example {
  background-color: $secondary-color;
}

.example__title {
  @include block-title;
  padding-top: 25px;
  margin-bottom: 40px;
}

.example__description {
  @include base-text;
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.example__costs {
  margin: 0;
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $dark-text-color;
  text-transform: uppercase;

  text-align: center;
}

.example__slider {
  position: relative;
}

.example__slider img {
  display: block;
  margin: 0 auto;
  padding-bottom: 40px;
}

.example__slider-toggle {
  border: none;
  padding: 0;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &::after {
    content: "";
    width: 40px;
    height: 257px;

    position: absolute;
    top: -150px;
    left: -20px;

    background-image: url("../img/content/toggle.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/toggle@2x.png"), 40px auto;
    }
  }
}

.example__slider-toggle:hover::after {
  background-image: url("../img/content/toggle-hover.png");

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/toggle-hover@2x.png"), 40px auto;
  }
}

.example__slider-toggle:active::after {
  background-image: url("../img/content/toggle-hover.png");
  opacity: 0.6;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/content/toggle-hover@2x.png"), 40px auto;
  }
}

@media (min-width: $width-tablet) {
  .example {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(242, 242, 242, 1) 60%, rgba(242, 242, 242, 1) 100%);
  }

  .example__wrapper {
    padding-top: 45px;
    padding-bottom: 100px;
    border-top: $border;
    position: relative;
  }

  .example__title {
    margin-bottom: 60px;
  }

  .example__description {
    margin-bottom: 55px;
  }

  .example__number-list {
    display: flex;
    margin-bottom: 100px;
  }

  .example__list {
    margin-bottom: 0;
    max-width: 550px;
  }

  .example__costs {
    margin-left: auto;
    width: 174px;
    text-align: end;

    font-size: 20px;
    line-height: 30px;
  }

  .example__slider img {
    width: 560px;
    height: 512px;

    padding-bottom: 0;
  }

  .example__slider-toggle {
    &::after {
      height: 512px;
      background-image: url("../img/content/toggle-tablet.png");

      top: -255px;

      @media (min-resolution: 2dppx) {
        background-image: url("../img/content/toggle-tablet@2x.png"), 40px auto;
      }
    }
  }

  .example__slider-toggle:hover::after {
    background-image: url("../img/content/toggle-hover-tablet.png");

    top: -255px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/content/toggle-hover-tablet@2x.png"), 40px auto;
    }
  }

  .example__before {
    width: 100%;
  }
}

@media (min-width: $width-desktop) {
  .example {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 25%, rgba(242, 242, 242, 1) 25%, rgba(242, 242, 242, 1) 100%);
  }

  .example__wrapper {
    padding-top: 0;
    padding-bottom: 75px;
    border: none;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description {
    width: 435px;
    margin-bottom: 70px;
  }

  .example__number-list {
    display: block;
    margin: 0;
  }

  .example__list {
    justify-content: left;
    margin-bottom: 55px;
  }

  .example__costs {
    display: flex;
    gap: 63px;
    margin: 0;
    text-align: left;

    width: 335px;
  }

  .example__costs span {
    min-width: 100px;
  }

  .example__slider img {
    position: absolute;
    top: -520px;
    right: -50px;
  }

  .example__slider-toggle {
    &::after {
      top: -520px;
      left: 360px;
    }
  }

  .example__slider-toggle:hover::after {
    top: -520px;
  }
}
