.example {
  background-color: $secondary-color;
}

.example__title {
  @include block-title;
  padding-top: 25px;
  margin-bottom: 40px;
}

.example__description {
  @include base-text;
  margin: 0;
  margin-bottom: 20px;
}

.example__list {
  @include list-reset;

  display: flex;
  gap: 32px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.example__costs {
  margin: 0;
  margin-bottom: 20px;

  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  color: $dark-text-color;
  text-transform: uppercase;

  text-align: center;
}

@media (min-width: $width-tablet) {
  .example {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 60%, rgba(242, 242, 242, 1) 60%, rgba(242, 242, 242, 1) 100%);
  }

  .example__wrapper {
    padding-top: 45px;
    padding-bottom: 100px;
    border-top: $border;
    position: relative;
  }

  .example__title {
    margin-bottom: 60px;
  }

  .example__description {
    margin-bottom: 55px;
  }

  .example__number-list {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
  }

  .example__list {
    margin-bottom: 0;
  }

  .example__costs {
    margin-left: auto;
    width: 174px;
    text-align: end;

    font-size: 20px;
    line-height: 30px;
  }

  .example__slider {
    width: 560px;
    height: 512px;

    margin: 0 auto;
  }

  .example__before {
    width: 100%;
  }

  // .example__after {
  //   width: 560px;
  //   height: 512px;

  //   position: absolute;
  //   bottom: 0;
  //   right: -70px;
  // }

  // .example__toggle {
  //   position: absolute;
  //   bottom: 0;
  // }
}

@media (min-width: $width-desktop) {
  .example {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 25%, rgba(242, 242, 242, 1) 25%, rgba(242, 242, 242, 1) 100%);
  }

  .example__wrapper {
    padding-top: 0;
    padding-bottom: 75px;
    border: none;
  }

  .example__title {
    margin-bottom: 146px;
  }

  .example__description {
    width: 435px;
    margin-bottom: 70px;
  }

  .example__number-list {
    display: block;
    margin: 0;
  }

  .example__list {
    justify-content: left;
    margin-bottom: 55px;
  }

  .example__costs {
    margin: 0;
    margin-left: 0;
    width: 366px;
    text-align: left;
  }

  .example__costs span {
    margin-left: 55px;
  }

  .example__slider {
    position: absolute;
    top: 30px;
    left: 50%;
  }

  // .example__before {
  //   position: absolute;
  //   top: 60px;
  //   right: 115px;
  // }

  // .example__after {
  //   position: absolute;
  //   top: 65px;
  // }

  // .example__toggle {
  //   display: block;
  //   position: absolute;
  //   bottom: auto;
  //   top: 265px;
  //   right: 38px;
  // }
}
