.field-group {
  @include fieldset-reset;
  margin-bottom: 24px;
}

.field-group__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field-group__item {
  display: flex;
  gap: 13px;
  align-items: center;
}

.field-group__title {
  @include lined-title;
}

.field-group--contacts {
  margin-bottom: 40px;
  position: relative;

  &::before {
    @include block-line;
  }
}

.field-group--contacts .field-group__title {
  margin-top: -15px;
  max-width: 230px;
}

.field-group--contacts .field-group__list {
  padding-top: 70px;
}

.field-group--comment {
  margin-bottom: 40px;
  position: relative;

  &::before {
    @include block-line;
  }
}

.field-group--comment .field-group__title {
  margin-top: -15px;
  max-width: 230px;
}

.field-group__comment-wrapper {
  padding-top: 47px;
}

@media (min-width: $width-tablet) {
  .field-group {
    margin-bottom: 90px;
  }

  .field-group--contacts {
    margin-bottom: 90px;
  }

  .field-group__list {
    padding-top: 0px;
  }

  .field-group--contacts .field-group__title {
    margin-top: -23px;
    max-width: none;
  }

  .field-group--comment .field-group__title {
    margin-top: -23px;
    max-width: none;
  }

  .field-group__comment-wrapper {
    padding-top: 100px;
  }
}

@media (min-width: $width-desktop) {
  .field-group {
    margin-bottom: 0;
  }

  .field-group__list {
    padding-top: 0;
  }

  .field-group--contacts .field-group__list {
    padding-top: 0px;

    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }

  .field-group__wrapper {
    padding-top: 90px;
    margin-bottom: 95px;

    &--checkbox {
      padding-top: 68px;
    }
  }

  .field-group__comment-wrapper {
    padding-top: 90px;
    margin-bottom: 95px;
  }
}
