.field-group {
  @include fieldset-reset;
  margin-bottom: 24px;
}

.field-group__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field-group__item {
  display: flex;
  gap: 13px;
  align-items: center;
}

.field-group--contacts,
.field-group--comment {
  margin-bottom: 25px;
}

@media (min-width: $width-tablet) {
  .field-group {
    margin-bottom: 90px;
  }

  .field-group--contacts,
  .field-group--comment {
    margin-bottom: 70px;
  }

  .field-group__list {
    gap: 20px;
    padding-top: 0;
  }
}

@media (min-width: $width-desktop) {
  .field-group {
    margin-bottom: 70px;
  }

  .field-group__list {
    padding-top: 0;
  }

  .field-group--contacts .field-group__list {
    padding-top: 0;

    display: grid;
    grid-template-columns: repeat(2, 570px);
    gap: 80px;
  }
}
