.footer {
  background-color: $secondary-color;
}

.footer__wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer__logo-text {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  border-bottom: $border;
  cursor: pointer;
}

.footer__logo-text:hover,
.footer__logo-text:focus-visible {
  opacity: 0.8;
}

.footer__logo-text:active {
  opacity: 0.6;
}

.footer__social {
  padding: 20px 0;
  border-bottom: $border;
}

.footer__copyright {
  padding: 20px 0;
}

@media (min-width: $width-tablet) {
  .footer__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
    display: flex;
    justify-content: space-between;
  }

  .footer__logo-text {
    border-bottom: none;
    padding: 0;
  }

  .footer__social {
    border-bottom: none;
    padding: 0;
    padding-left: 40px;
    max-width: 350px;
  }

  .footer__copyright {
    padding: 0;
  }
}

@media (min-width: $width-desktop) {
  .footer__wrapper {
    padding-top: 70px;
    padding-bottom: 75px
  }
}
