.gift {
  margin-bottom: 35px;
  background: #63a63b url("../img/backgrounds/bg-cat-backpack.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: #63a63b url("../img/backgrounds/bg-cat-backpack@2x.jpg"), 245px auto;
  }
}

.gift__description {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $light-text-color;

  display: block;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 185px 61px 45px 58px;
  max-width: 280px;

  position: relative;

  &::before {
    content: "";
    background: url("../img/stack.svg#gift-icon");
    width: 78px;
    height: 80px;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $width-tablet) {
  .gift {
    background: #63a63b url("../img/backgrounds/bg-cat-backpack-tablet.jpg"), linear-gradient(90deg, #5ca033 50%, #7ec255 50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 80px;

    @media (min-resolution: 2dppx) {
      background-image: #63a63b url("../img/backgrounds/bg-cat-backpack-tablet@2x.jpg"), 707px auto;
    }
  }

  .gift__description {
    padding: 68px 120px 70px 420px;
    margin: 0 auto;
    max-width: 768px;

    text-align: left;

    &::before {
      top: 50%;
      left: 10%;
      transform: translateY(-50%);
    }
  }
}

@media (min-width: $width-desktop) {
  .gift {
    background: #63a63b url("../img/backgrounds/bg-cat-backpack.jpg");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-size: cover;
    max-width: 245px;
    margin-bottom: 0;

    @media (min-resolution: 2dppx) {
      background-image: #63a63b url("../img/backgrounds/bg-cat-backpack@2x.jpg"), 245px auto;
    }
  }

  .gift__description {
    padding: 185px 42px 42px;
    margin: 0;
    text-align: center;

    position: relative;

    &::before {
      content: url("../img/icons/gift-icon.svg");
      position: absolute;
      top: 100px;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
