.header {
  position: relative;
  z-index: 1;
}

.header__wrapper {
  padding-top: 13px;
  padding-bottom: 15px;
}

.header__head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-self: self-start;
}

.header__logo:hover,
.header__logo-text:hover {
  opacity: 0.8;
}

.header__logo:active,
.header__logo-text:active {
  opacity: 0.6;
}

.header__nav--js {
  margin-top: 15px;
  margin-bottom: -15px;
}

.header__nav--nojs {
  margin-top: 15px;
  margin-bottom: -15px;

  position: relative;
  left: -20px;
  z-index: 3;
  background-color: $body-color;

  width: 100vw;
}

.header__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.header__item {
  padding: 23px;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 1px;
    background: #e6e6e6;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.header__button--nojs {
  display: none;
}

.header__button--js {
  width: 25px;
  height: 18px;

  border: none;
  background: none;

  padding: 0;

  position: relative;

  span {
    width: 100%;
    height: 2px;
    position: absolute;
    background: #000000;

    left: 0;

    &:nth-child(1) {
      top: 0;
    }

    &:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }

    &:nth-child(3) {
      bottom: 0;
    }
  }
}

.header__button.active {
  span {
    &:nth-child(1) {
      transform: translate(0, 8px) rotate(-40deg);
      height: 1px;
    }

    &:nth-child(2) {
      display: none;
    }

    &:nth-child(3) {
      transform: translate(0, -8px) rotate(40deg);
      height: 1px;
    }
  }
}

.header__link {

  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $dark-text-color;
}

.header__link:hover {
  opacity: 0.6;
}

.header__link:active {
  opacity: 0.3;
}


@media (min-width: $width-tablet) {
  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__logo img,
  .header__logo--noactive img {
    width: 174px;
    height: 50px;
  }

  .header__logo-text,
  .header__logo-text--noactive {
    display: none;
  }

  .header__button {
    display: none;
  }

  .header__nav--nojs {
    display: block;
    margin-top: 0;
    padding-bottom: 20px;

    position: static;
    background-color: transparent;

    width: auto;
  }

  .header__list {
    flex-direction: row;
    gap: 33px;
    max-width: 455px;
  }

  .header__item {
    padding: 0;

    &::before {
      display: none;
    }
  }

  .header__link {
    font-size: 18px;
    line-height: 24px;

    border-bottom: 2px solid transparent;
    padding-bottom: 8px;

    &--current {
      border-color: $primary-color;
    }
  }
}

@media (min-width: $width-desktop) {
  .header__wrapper {
    padding-top: 55px;
    padding-bottom: 55px;
  }

  .header__logo img,
  .header__logo--noactive img{
    width: 202px;
    height: 59px;
  }

  .header__list {
    max-width: 600px;
  }

  .header__link {
    font-size: 20px;

    color: $light-text-color;

    &--current {
      border-color: $light-text-color;
    }
  }

  .header__link--dark {
    color: $dark-text-color;

    &-current {
      border-color: $primary-color;
    }
  }
}
