.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
}

@media (min-width: $width-tablet) {
  .header__wrapper {
    justify-content: flex-start;
    padding: 25px 34px 25px 30px;
  }

  .header__toggle-burger {
    display: none;
  }
}

@media (min-width: $width-desktop) {
  .header {

  }

  .header__wrapper {
    padding: 71px 110px 0 110px;
    position: absolute;
    z-index: 1;
  }

  .header__toggle-burger {
    display: none;
  }
}
