.hero {
  background: url("../img/backgrounds/bg-cat-mobile.jpg"), linear-gradient(90deg, rgba(100, 167, 60, 1) 0%, rgba(100, 167, 60, 1) 47%, rgba(98, 165, 59, 1) 100%);
  background-repeat: no-repeat;
  background-position: top center;
  height: 302px;

  position: relative;
  margin-bottom: 195px;
}

.hero__wrapper {
  text-align: center;
  margin: 0 auto;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hero__title {
  @include general-title;
  color: $light-text-color;

  padding-top: 27px;
  margin-bottom: 25px;
}

.hero__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  color: $light-text-color;
  text-transform: uppercase;

  margin: 0;
  margin-bottom: 29px;
}

.hero__button {
  display: block;
  margin: 0 auto;
  padding: 8px 44px;
}

@media (min-width: $width-tablet) {
  .hero {
    background: none;
    height: fit-content;

    margin: 0 auto;
  }

  .hero__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    text-align: center;

    padding: 0 120px;
  }

  .hero__title {
    @include general-title;
    padding-top: 40px;
    margin-bottom: 40px;
    text-align: left;
    order: -2;
  }

  .hero__subtitle {
    font-size: 20px;
    line-height: 20px;
    color: $dark-text-color;
    text-align: left;

    margin-bottom: 50px;
    order: -2;
  }

  .hero__button {
    font-size: 20px;
    padding: 14px 26px;
    margin: 0 auto 0 0;
    order: -1;
    z-index: 1;
    border: 1px solid #000000;
  }

  .hero__product-image {
    margin-top: -83px;
    margin-left: -90px;
  }
}

@media (min-width: $width-desktop) {
  .hero {
    background: url("../img/backgrounds/bg-cat-desktop.jpg"), linear-gradient(to right, #ffffff 50%, #64a73d 50%);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;

    position: relative;
    margin-bottom: 82px;

    min-height: 720px;
  }

  .hero__wrapper {
    position: absolute;
    top: 28%;
    left: 27%;
    display: flex;
    flex-direction: column;
    text-align: left;

    padding: 0 120px;
  }

  .hero__button {
    border: none;
  }

  .hero__product-image {
    margin: 0;

    position: absolute;
    left: 33%;
    transform: translate(50%);
    top: -12%;
    width: 552px;
    height: 499px;
  }
}

