.hero {
  text-align: center;

  margin-bottom: 20px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__bg {
  background: url("../img/backgrounds/bg-cat-mobile.jpg"), linear-gradient(90deg, rgba(100, 167, 60, 1) 0%, rgba(100, 167, 60, 1) 47%, rgba(98, 165, 59, 1) 100%);
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 305px;
  padding: 27px 0 170px 0;
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $light-text-color;
  max-width: 255px;
  font-weight: 400;

  margin: 0 auto;
}

.hero__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $light-text-color;

  margin: 0;
  margin-top: 25px;
}

.hero__img {
  width: 280px;
  height: 270px;
  object-fit: contain;
}

.hero__product {
  display: flex;
  flex-direction: column;
  margin-top: -135px;
}


@media (min-width: 768px) {
  .hero {
    margin-bottom: 0;
  }

  .hero__bg {
    background: none;
  }

  .hero__title {
    color: $dark-text-color;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    max-width: 420px;
    margin: 0;
    margin-left: 90px;
    position: relative;
    z-index: 1;
  }

  .hero__subtitle {
    color: $dark-text-color;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 21px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    z-index: 1;
  }

  .hero__picture {
    order: 2;
    margin-top: -90px;
    margin-left: 20px;
    position: relative;
    z-index: 1;
  }

  .hero__img {
    width: 709px;
    height: 609px;
  }

  .hero__button {
    order: 1;
    position: relative;
    z-index: 1;
    margin-left: 90px;
    margin-right: auto;
  }
}

@media (min-width: 1440px) {
  .hero {
    margin-top: -171px;
    margin-bottom: 82px;
  }

  .hero__wrapper {
    background-image: url("../../img/backgrounds/bg-cat-desktop.jpg"), linear-gradient(90deg, #ffffff 50%, #64a73d 50%);
    background-repeat: no-repeat;
    background-position: right 50%;

    padding-top: 220px;
    min-height: 700px;

    position: relative;
  }

  .hero__title {
    margin-left: 0;
  }

  .hero__subtitle {
    margin-left: 0;
  }

  .hero__product {
    width: 100%;
  }

  .hero__picture {
    position: absolute;
    top: 177px;
    left: 50%;
    transform: translateX(-30%);
    margin: 0;
  }

  .hero__img {
    width: 552px;
    height: 449px;
  }

  .hero__button {
    margin-left: 0;
  }
}
