.hero {
  text-align: center;

  margin-bottom: 20px;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
}

.hero__bg {
  background: url("../img/backgrounds/bg-cat-mobile.jpg"), linear-gradient(90deg, rgba(100, 167, 60, 1) 0%, rgba(100, 167, 60, 1) 47%, rgba(98, 165, 59, 1) 100%);

  background-repeat: no-repeat;
  background-position: top center;

  min-height: 300px;
  padding: 38px 0 165px 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/backgrounds/bg-cat-mobile@2x.jpg"), 320px auto;
  }
}

.hero__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 36px;
  color: $light-text-color;
  font-weight: 400;

  margin: 0 auto;
}

.hero__subtitle {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: $light-text-color;

  margin: 0;
  margin-top: 25px;
}

.hero__img {
  width: 280px;
  height: 270px;
}

.hero__product {
  display: flex;
  flex-direction: column;
  margin-top: -135px;
}

.hero__button {
  padding: 14px 64px;
  font-size: 16px;
  line-height: 20px;
}


@media (min-width: $width-tablet) {
  .hero {
    margin-bottom: 0;
  }

  .hero__bg {
    background: none;
  }

  .hero__title {
    color: $dark-text-color;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    max-width: 420px;
    margin: 0;
    margin-left: 90px;
    position: relative;
    z-index: 1;
  }

  .hero__subtitle {
    color: $dark-text-color;
    margin-top: 40px;
    margin-left: 90px;
    margin-bottom: 17px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    z-index: 1;
  }

  .hero__picture {
    order: 2;
  }

  .hero__img {
    width: 709px;
    height: 609px;

    order: 2;
    margin-top: -80px;
    position: relative;
    z-index: 1;
  }

  .hero__button {
    order: 1;
    position: relative;
    z-index: 1;
    margin-left: 90px;
    margin-right: auto;

    font-size: 20px;
    line-height: 20px;

    padding: 17px 27px;
  }
}

@media (min-width: 1440px) {
  .hero {
    margin-top: -171px;
    margin-bottom: 82px;
  }

  .hero__wrapper {
    background-image: url("../img/backgrounds/bg-cat-desktop.jpg"), linear-gradient(90deg, #ffffff 50%, #64a73d 50%);
    background-repeat: no-repeat;
    background-position: right 50%;

    padding-top: 225px;
    min-height: 695px;

    position: relative;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/backgrounds/bg-cat-desktop@2x.jpg"), 720px auto;
    }
  }

  .hero__bg {
    margin-left: 80px;
    padding: 0;
  }

  .hero__title {
    margin-left: 0;
  }

  .hero__subtitle {
    margin-left: 0;
  }

  .hero__product {
    width: 100%;
  }

  .hero__img {
    width: 552px;
    height: 499px;

    position: absolute;
    top: 140px;
    left: 50%;
    transform: translateX(-30%);
    margin: 0;
  }

  .hero__button {
    margin-left: 80px;
    margin-top: 65px;
    max-width: 435px;
  }
}
