.logo {
  display: flex;
  align-items: center;
}

@media (min-width: $width-tablet) {
  .logo__image {
    margin-right: 13px;
  }
}

@media (min-width: $width-desktop) {
  .logo__image {
    margin-right: 14px;

    width: 70px;
    height: 59px;
  }

  .logo__text {
    width: 118px;
    height: 21px;
  }
}

