.programm {
  background-color: $secondary-color;
  padding: 24px 33px 18px 20px;
}

.programm__wrapper {
  display: flex;
  align-items: center;
}

.programm__icon {
  width: 50px;
  height: 50px;
  background-color: $primary-color;
  border-radius: 50%;

  position: relative;
}

.programm__img {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.programm__title {
  margin: 0;
  margin-left: 20px;

  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $dark-text-color;
  font-weight: 400;

  width: calc(100% - 60px);
}

.programm__description {
  @include base-text;

  margin: 0;
  margin-top: 29px;
  padding-bottom: 23px;

  border-bottom: $border;
}

.programm__catalog-link {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  color: $dark-text-color;
  text-transform: uppercase;

  display: inline-block;
  margin-top: 20px;
  padding-right: 40px;
  position: relative;

  &::after {
    content: "";
    background: url("../img/stack.svg#arrow-icon");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 24px;
    height: 12px;

    position: absolute;
    top: 50%;
    right: 0%;
    transform: translateY(-50%);
  }
}

.programm__catalog-link:hover {
  padding-right: 50px;
}

.programm__catalog-link:focus-visible {
  outline: none;
  border: 1px solid #000000;
}

.programm__catalog-link:active {
  opacity: 0.3;
}

.programm__catalog-link:hover::after {
  width: 32px;
  height: 18px;
}

@media (min-width: $width-tablet) {
  .programm {
    padding: 77px 316px 53px 52px;
    position: relative;
  }

  .programm__icon {
    width: 200px;
    height: 200px;

    position: absolute;
    right: 60px;
    top: 50%;
    transform: translateY(-50%);
  }

  .programm__img {
    &--slim {
      width: 140px;
      height: 194px;
    }

    &--pro {
      width: 268px;
      height: 112px;
    }
  }

  .programm__title {
    font-size: 36px;
    line-height: 36px;

    margin-left: 0;
  }

  .programm__description {
    @include base-text;

    padding: 0;
    margin: 0;
    margin-top: 24px;

    border-bottom: none;
  }

  .programm__catalog-link {
    font-size: 20px;
    line-height: 20px;

    margin-top: 52px;
  }
}

@media (min-width: $width-desktop) {
  .programm {

    padding: 47px 61px 55px 52px;
  }

  .programm__icon {
    width: 100px;
    height: 100px;

    position: relative;

    right: unset;
    top: unset;
    transform: none;
  }

  .programm__img {
    &--slim {
      width: 70px;
      height: 97px;
    }

    &--pro {
      width: 134px;
      height: 56px;
    }
  }

  .programm__title {
    width: calc(100% - 160px);
    margin-left: 60px;
  }

  .programm__description {
    width: 457px;
    color: $dark-text-color;
    margin-top: 40px;
  }

  .programm__catalog-link {
    margin-top: 27px;
  }
}
