.radio-group {
  @include fieldset-reset;

  padding-top: 22px;
  padding-bottom: 20px;

  margin-bottom: 44px;

  position: relative;

  &::before {
    content: "";
    background-color: #ebebeb;
    width: 100vw;
    height: 1px;

    position: absolute;
    left: -20px;
    top: 0;
  }

  &::after {
    content: "";
    background-color: #ebebeb;
    width: 100vw;
    height: 1px;

    position: absolute;
    left: -20px;
    bottom: 0;
  }
}

.radio-group__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.radio-group__label {
  @include text-form;

  display: block;
  position: relative;
  padding-left: 45px;
}

.radio-group__label span {
  cursor: pointer;
}

.radio-group__style-input {
  position: absolute;
  top: -6px;
  left: -3px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.radio-group__input-control[type="radio"]:checked + .radio-group__style-input::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: $primary-color;
  border-radius: 50%;
}

.radio-group__input-control[type="radio"]:hover + .radio-group__style-input {
  border-color: #bababa;
}

.radio-group__input-control[type="radio"]:hover + .radio-group__style-input {
  border-color: #bababa;
}

.radio-group__input-control[type="radio"]:focus-visible + .radio-group__style-input {
  border-color: #9a9898;
}

.radio-group__input-control[type="radio"]:disabled ~ span {
  opacity: 0.3;
  cursor: default;
}

@media (min-width: $width-tablet) {
  .radio-group {
    border: 1px solid #e7e7e7;

    padding: 23px 27px 27px;
    margin-top: -18px;
    margin-bottom: 90px;

    &::before,
    &::after {
      display: none;
    }
  }

  .radio-group__style-input {
    top: 0;
  }
}

@media (min-width: $width-desktop) {
  .radio-group {
    padding: 27px;
    margin-bottom: 0;
    margin-top: 0;
  }

  .radio-group__style-input {
    width: 40px;
    height: 40px;
  }

  .radio-group__input-control[type="radio"]:checked + .radio-group__style-input::after {
    width: 18px;
    height: 18px;
  }

  .radio-group__label {
    padding-left: 60px;
  }
}
