.social {
  display: flex;
  align-items: center;
}

.social__list {
  @include list-reset;
  display: flex;
  gap: 24px;
  align-items: center;
  margin: 0 auto;
  width: 132px;
}

@media (min-width: $width-tablet) {
  .social__link {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
