.upsale {
  position: relative;

  &::before {
    @include block-line;
  }
}

.upsale__wrapper {
  position: relative;
}

.upsale__list {
  @include list-reset;
  padding-top: 36px;
}

.upsale__title {
  @include lined-title;

  margin-top: -15px;
}

@media (min-width: $width-tablet) {
  .upsale__list {
    margin-bottom: 70px;
    padding-top: 80px;
  }

  .upsale__title {
    margin-top: -22px;
  }
}


@media (min-width: $width-desktop) {
  .upsale__list-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 87px;
  }

  .upsale__list {
    margin-bottom: 0;
  }
}
